<div class="page-header">
  <h1>Salas</h1>
  <button mat-raised-button color="primary" (click)="openCreate()">
    <mat-icon>add</mat-icon> Nueva sala
  </button>
</div>

@if (loading) {
  <div class="loading-container"><mat-spinner></mat-spinner></div>
}

@if (!loading) {
  <mat-table [dataSource]="salas" class="mat-elevation-z2">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let s">{{ s.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let s">
        <button mat-icon-button color="primary" (click)="verAlumnos(s)" matTooltip="Ver alumnos">
          <mat-icon>child_care</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="verMiembros(s)" matTooltip="Ver miembros">
          <mat-icon>group</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="openAgregarEducador(s)" matTooltip="Agregar educador">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="openCodigo(s)" matTooltip="Código de invitación">
          <mat-icon>vpn_key</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
}
